node_modules/
srv/node_modules/.cache/
node_modules/.cache/
srv/node_modules/
srv/app/logs/
db/dumps/
client/holybricks_app/build/*
npm-debug.log
srv/jupyter_notebooks/drafts/
srv/jupyter_notebooks/.ipynb_checkpoints/
.devcontainer/
.pytest_cache/
*.pytest_cache/
snapshots/
db/data/
airflow/logs/
__pycache__/
.ipynb_checkpoints/
datatools/downloads/*
!datatools/downloads/manual
*/nohup.out
.mypy_cache
tests/functional/testdata/testdb.sql
kube.config
api/srv/temp
venv/*
.venv
secrets/
.idea/
.env
*.dump
.DS_Store